build/newspage.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Newspage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
  </head>
  <body>
    <!--BEGIN inner-->
    <div class="wrapper">
      <!--BEGIN header-->
      <header class="header"><a class="header__logo" href="#" aria-label="to main page"><img src="img/img__logo.svg" alt=""></a>
        <div class="overlay overlay-genie" id="menu" data-steps="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z"><svg class="overlay-mask" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 806" preserveAspectRatio="none">
            <path class="overlay-path" d="M701.56545,809.01175C701.56545,809.01175,736.7326300000001,809.01175,736.7326300000001,809.01175C736.7326300000001,809.01175,736.7326300000001,828.69559,736.7326300000001,828.69559C736.7326300000001,828.69559,701.56545,828.69559,701.56545,828.69559C701.56545,828.69559,701.56545,809.01175,701.56545,809.01175C701.56545,809.01175,701.56545,809.01175,701.56545,809.01175"></path>
          </svg>
          <div class="top-overlay"> <a class="top-overlay__logo" href="#" aria-label="to main page"><img src="img/img__logo-white.svg" alt=""></a></div>
        </div>
        <nav class="header-menu__wrapper">
          <ul class="header-menu">
            <li class="header-menu__item is-active"><a href="#">Новости</a></li>
            <li class="header-menu__item"><a href="#">Кредиты</a></li>
            <li class="header-menu__item"><a href="#">РКО</a></li>
            <li class="header-menu__item"><a href="#">Эквайринг</a></li>
          </ul>
        </nav>
        <div class="overlay-trigger"><svg class="ham hamRotate ham7" viewbox="0 0 100 100">
            <path class="line top" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013"></path>
            <path class="line middle" d="m 70,50 h -40"></path>
            <path class="line bottom" d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40"></path>
          </svg></div>
        <!--END header-->
      </header>
      <div class="header-padding">
        <div class="container">
          <div class="wrapper-news" data-sticky-role="parent_elem"><button class="btn-back btn-news-back" data-sticky-role="elem"><i class="icon icon-back"></i></button>
            <div class="group-btns-social" data-sticky-role="elem"><button class="btn-social"><i class="icon icon-vk-in"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 548.358 548.358" style="enable-background:new 0 0 548.358 548.358;" xml:space="preserve">
                    <path fill="currentColor" d="M545.451,400.298c-0.664-1.431-1.283-2.618-1.858-3.569c-9.514-17.135-27.695-38.167-54.532-63.102l-0.567-0.571  l-0.284-0.28l-0.287-0.287h-0.288c-12.18-11.611-19.893-19.418-23.123-23.415c-5.91-7.614-7.234-15.321-4.004-23.13  c2.282-5.9,10.854-18.36,25.696-37.397c7.807-10.089,13.99-18.175,18.556-24.267c32.931-43.78,47.208-71.756,42.828-83.939  l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712c-4.764-1.427-10.853-1.663-18.278-0.712l-82.224,0.568  c-1.332-0.472-3.234-0.428-5.712,0.144c-2.475,0.572-3.713,0.859-3.713,0.859l-1.431,0.715l-1.136,0.859  c-0.952,0.568-1.999,1.567-3.142,2.995c-1.137,1.423-2.088,3.093-2.848,4.996c-8.952,23.031-19.13,44.444-30.553,64.238  c-7.043,11.803-13.511,22.032-19.418,30.693c-5.899,8.658-10.848,15.037-14.842,19.126c-4,4.093-7.61,7.372-10.852,9.849  c-3.237,2.478-5.708,3.525-7.419,3.142c-1.715-0.383-3.33-0.763-4.859-1.143c-2.663-1.714-4.805-4.045-6.42-6.995  c-1.622-2.95-2.714-6.663-3.285-11.136c-0.568-4.476-0.904-8.326-1-11.563c-0.089-3.233-0.048-7.806,0.145-13.706  c0.198-5.903,0.287-9.897,0.287-11.991c0-7.234,0.141-15.085,0.424-23.555c0.288-8.47,0.521-15.181,0.716-20.125  c0.194-4.949,0.284-10.185,0.284-15.705s-0.336-9.849-1-12.991c-0.656-3.138-1.663-6.184-2.99-9.137  c-1.335-2.95-3.289-5.232-5.853-6.852c-2.569-1.618-5.763-2.902-9.564-3.856c-10.089-2.283-22.936-3.518-38.547-3.71  c-35.401-0.38-58.148,1.906-68.236,6.855c-3.997,2.091-7.614,4.948-10.848,8.562c-3.427,4.189-3.905,6.475-1.431,6.851  c11.422,1.711,19.508,5.804,24.267,12.275l1.715,3.429c1.334,2.474,2.666,6.854,3.999,13.134c1.331,6.28,2.19,13.227,2.568,20.837  c0.95,13.897,0.95,25.793,0,35.689c-0.953,9.9-1.853,17.607-2.712,23.127c-0.859,5.52-2.143,9.993-3.855,13.418  c-1.715,3.426-2.856,5.52-3.428,6.28c-0.571,0.76-1.047,1.239-1.425,1.427c-2.474,0.948-5.047,1.431-7.71,1.431  c-2.667,0-5.901-1.334-9.707-4c-3.805-2.666-7.754-6.328-11.847-10.992c-4.093-4.665-8.709-11.184-13.85-19.558  c-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267  c-4.952-10.185-9.329-20.037-13.134-29.554c-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-0.859c-0.95-0.76-2.475-1.567-4.567-2.427  c-2.095-0.859-4.281-1.475-6.567-1.854l-78.229,0.568c-7.994,0-13.418,1.811-16.274,5.428l-1.143,1.711  C0.288,140.146,0,141.668,0,143.763c0,2.094,0.571,4.664,1.714,7.707c11.42,26.84,23.839,52.725,37.257,77.659  c13.418,24.934,25.078,45.019,34.973,60.237c9.897,15.229,19.985,29.602,30.264,43.112c10.279,13.515,17.083,22.176,20.412,25.981  c3.333,3.812,5.951,6.662,7.854,8.565l7.139,6.851c4.568,4.569,11.276,10.041,20.127,16.416  c8.853,6.379,18.654,12.659,29.408,18.85c10.756,6.181,23.269,11.225,37.546,15.126c14.275,3.905,28.169,5.472,41.684,4.716h32.834  c6.659-0.575,11.704-2.669,15.133-6.283l1.136-1.431c0.764-1.136,1.479-2.901,2.139-5.276c0.668-2.379,1-5,1-7.851  c-0.195-8.183,0.428-15.558,1.852-22.124c1.423-6.564,3.045-11.513,4.859-14.846c1.813-3.33,3.859-6.14,6.136-8.418  c2.282-2.283,3.908-3.666,4.862-4.142c0.948-0.479,1.705-0.804,2.276-0.999c4.568-1.522,9.944-0.048,16.136,4.429  c6.187,4.473,11.99,9.996,17.418,16.56c5.425,6.57,11.943,13.941,19.555,22.124c7.617,8.186,14.277,14.271,19.985,18.274  l5.708,3.426c3.812,2.286,8.761,4.38,14.853,6.283c6.081,1.902,11.409,2.378,15.984,1.427l73.087-1.14  c7.229,0,12.854-1.197,16.844-3.572c3.998-2.379,6.373-5,7.139-7.851c0.764-2.854,0.805-6.092,0.145-9.712  C546.782,404.25,546.115,401.725,545.451,400.298z"> </path>
                  </svg></i></button><button class="btn-social"><i class="icon icon-vk-in"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <path style="fill:currentColor;" d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411  c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513  c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101  c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104  c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194  c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485  c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                  </svg></i></button><button class="btn-social"><i class="icon icon-vk-in"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve">
                    <path fill="currentColor" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805  c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354  c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"></path>
                  </svg></i></button></div>
            <article class="news-container">
              <div class="news-top">
                <div class="category-tag tag-green">Эквайринг</div>
                <div class="news-top__time">10 октября 2018, 16:30</div>
                <div class="card__views"><i class="icon icon-eye"></i><span>768</span></div>
              </div>
              <div class="h1-text color-dark-text news-title">Банковская картотека на расчетном счете </div>
              <div class="bigger-text">Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет.</div>
              <p>Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления <a href="#">Ссылка</a>. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. <a href="#">Ссылка выглядит вот так.</a></p>
              <div class="h2-text color-dark-text">Загружаем картинки и подписываем их</div>
              <p>Картинка имеет ограничение шириной контейнера 684px, если загружаемая картинка имеет ширину меньше 684px, то картинка не растягивается.</p><a class="lightbox" href="img/content/bg__card.jpg" data-imagelightbox="uniq"><img src="img/content/bg__card.jpg" alt="alt" title="title"></a>
              <p><i>Подпись к фотографии используется курсивом, ксати при клике на фотографию, она увеличивается на весь экран :) </i></p>
              <div class="h2-text color-dark-text">Причины открытия картотеки </div>
              <ul class="simple-list">
                <li>Клиент не одобрил списание средств по платежному поручению;</li>
                <li> На расчетный счет наложен арест;</li>
                <li>Плательщик не располагает достаточными средствами для исполнения финансовых обязательств;</li>
                <li>Превышен лимит по счету, и не предусмотрен овердрафт.</li>
              </ul>
              <blockquote class="blockquote news-blockquote">
                <div class="h2-text color-dark-text">К началу сражения работа главнокомандующего уже закончена</div>
                <site class="site">
                  <div class="site__inner">
                    <div class="site__text">
                      <div class="name">Том Де Марко</div>
                      <div class="who">Американский инженер-программист</div>
                    </div>
                  </div>
                </site>
              </blockquote>
              <p> Цитата бывает с фотографией или без </p>
              <blockquote class="blockquote news-blockquote">
                <div class="h2-text color-dark-text">К началу сражения работа главнокомандующего уже закончена</div>
                <site class="site">
                  <div class="site__inner">
                    <div class="site__img"><img src="img/content/user-pic.jpg" alt=""></div>
                    <div class="site__text">
                      <div class="name">Том Де Марко</div>
                      <div class="who">Американский инженер-программист</div>
                    </div>
                  </div>
                </site>
              </blockquote>
              <p>Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления <a href="#">Ссылка</a>. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. <a href="#">Ссылка выглядит вот так.</a></p>
            </article>
          </div>
          <div class="news-bottom">
            <div class="news-container">
              <div class="h2-text color-dark-text">Читайте также</div>
              <ul class="list-red">
                <li><a href="#">Покупка терминалов для мобильного и торгового эквайринга</a></li>
                <li><a href="#">Как оплатить штраф без расчетного счета. Пошаговая инструкция</a></li>
                <li><a href="#">Как сдать декларацию по специальной оценке условий труда</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sub">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-12 col-lg-6">
                <div class="sub__title h3-text color-white-text">Получай подборку лучших статей и советов про деньги, один раз в неделю</div>
                <div class="sub__subtitle">Подпишись на рассылку<i class="icon icon-fire"></i></div>
              </div>
              <div class="col col-12 col-lg-6">
                <form class="sub__form" action="">
                  <div class="row">
                    <div class="col col-12 col-md-7 order-1">
                      <div class="form-control__wrapper"><label class="form-control__inner" for="field"><input class="form-control" id="field" type="text" name="field">
                          <div class="form-control-text">Email</div>
                        </label>
                        <div class="form-text-error"></div>
                      </div>
                    </div>
                    <div class="col col-12 col-md-5 order-3 order-md-2"><button class="btn-simple is-rippled on-dark">Подписаться</button></div>
                    <div class="col col-12 order-2 order-md-3"><label class="simple-checkbox white"><input type="checkbox" name="" checked><span class="simple-checkbox-visual"></span>
                        <div class="simple-checkbox-text">Я согласен с условиями обработки <a href="#">персональных данных</a></div>
                      </label></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="container">
            <div class="box__title h2-text color-dark-text">Читайте также</div>
            <div class="row card-holder">
              <div class="col col-12 col-md-6 col-lg-4"><a class="card is-rippled on-light card-type-2" href="#">
                  <div class="card__bg"><img src="img/content/bg__card-1.jpg" alt=""></div>
                  <div class="card__body">
                    <div class="card__info info-type-1"><span>PKO</span></div>
                  </div>
                  <div class="card__footer">
                    <div class="card__title h4-text">Когда выгодно брать кредит если ты индивидуальный предприниматель?</div>
                    <div class="card__text">
                      <p>19-ый и 21-ый лунные дни идеальное время для платежа </p>
                    </div>
                    <div class="card__last-line">
                      <div class="card__date"><span>10 окт</span></div>
                      <div class="card__views"><i class="icon icon-eye"></i><span>768</span></div>
                    </div>
                  </div>
                </a></div>
              <div class="col col-12 col-md-6 col-lg-4"><a class="card is-rippled on-light card-type-2" href="#">
                  <div class="card__bg"><img src="img/content/bg__card-2.jpg" alt=""></div>
                  <div class="card__body">
                    <div class="card__info info-type-1"><span>PKO</span></div>
                  </div>
                  <div class="card__footer">
                    <div class="card__title h4-text">Когда выгодно брать кредит если ты индивидуальный предприниматель?</div>
                    <div class="card__text">
                      <p>Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. </p>
                    </div>
                    <div class="card__last-line">
                      <div class="card__date"><span>10 окт</span></div>
                      <div class="card__views"><i class="icon icon-eye"></i><span>768</span></div>
                    </div>
                  </div>
                </a></div>
              <div class="col col-12 col-md-6 col-lg-4"><a class="card is-rippled on-light card-type-2" href="#">
                  <div class="card__bg"><img src="img/content/bg__card-3.jpg" alt=""></div>
                  <div class="card__body">
                    <div class="card__info info-type-1"><span>PKO</span></div>
                  </div>
                  <div class="card__footer">
                    <div class="card__title h4-text">Когда выгодно брать кредит если ты индивидуальный предприниматель?</div>
                    <div class="card__text">
                      <p>19-ый и 21-ый лунные дни идеальное время для платежа </p>
                    </div>
                    <div class="card__last-line">
                      <div class="card__date"><span>10 окт</span></div>
                      <div class="card__views"><i class="icon icon-eye"></i><span>768</span></div>
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col col-12 col-md-6 col-lg-3"><a class="footer__logo" href="#" aria-label="to main page"><img src="img/img__logo-white.svg" alt=""></a>
                <div class="footer__copy d-none d-sm-block">Tam bank © 2018</div><a class="white-link d-block d-sm-none footer-mobile-mail" href="mailto:blog@tambank.ru">blog@tambank.ru</a>
              </div>
              <div class="col col-12 col-md-6 col-lg-3"><button class="btn-simple is-rippled on-dark">Связаться с нами</button><a class="white-link mt10 d-none d-sm-block" href="mailto:blog@tambank.ru">blog@tambank.ru</a>
                <div class="footer__copy d-sm-none footer-mobile-copy">Tam bank © 2018</div>
              </div>
              <div class="col col-lg-3 d-none d-lg-block">
                <div class="footer__title">Полезные статьи</div>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a href="#">Кредиты</a></li>
                  <li class="footer__nav-item"><a href="#">Эквайринг</a></li>
                  <li class="footer__nav-item"><a href="#">Расчетно кассовое обслуживание</a></li>
                </ul>
              </div>
              <div class="col col-lg-3 d-none d-lg-block">
                <div class="footer__title">Там банк</div>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a href="#">О проекте</a></li>
                  <li class="footer__nav-item"><a href="#">Политика конфиденциальности</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--END out-->
    <!--LOAD SCRIPTS-->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>

src/templates/newspage.pug
---
title: Newspage
---
extends layouts/_layout
block content
  .header-padding
    .container
      .wrapper-news(data-sticky-role='parent_elem')

        button.btn-back.btn-news-back(data-sticky-role='elem')
          i.icon.icon-back

        .group-btns-social(data-sticky-role='elem')
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__vk-import
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__tw-import
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__fb-import
              
        article.news-container
          .news-top
            .category-tag.tag-green
              | Эквайринг
            .news-top__time
              | 10 октября 2018, 16:30
            .card__views
              i.icon.icon-eye
              span
                | 768
          .h1-text.color-dark-text.news-title
            | Банковская картотека на расчетном счете 
          .bigger-text
            | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет.
          p
            | Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления 
            a(href="#") Ссылка
            |. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. 
            a(href="#") Ссылка выглядит вот так.
            
          .h2-text.color-dark-text
            | Загружаем картинки и подписываем их
          p
            | Картинка имеет ограничение шириной контейнера 684px, если загружаемая картинка имеет ширину меньше 684px, то картинка не растягивается.
          a.lightbox(href="img/content/bg__card.jpg" data-imagelightbox='uniq')
            img(src="img/content/bg__card.jpg", alt="alt" title="title")
          p
            i
              | Подпись к фотографии используется курсивом, ксати при клике на фотографию, она увеличивается на весь экран :) 
          .h2-text.color-dark-text
            | Причины открытия картотеки 
          ul.simple-list
            li
              | Клиент не одобрил списание средств по платежному поручению;
            li 
              | На расчетный счет наложен арест;
            li
              | Плательщик не располагает достаточными средствами для исполнения финансовых обязательств;
            li
              | Превышен лимит по счету, и не предусмотрен овердрафт.

          blockquote.blockquote.news-blockquote
            .h2-text.color-dark-text
              | К началу сражения работа главнокомандующего уже закончена
            site.site
              .site__inner
                .site__text
                  .name
                    | Том Де Марко
                  .who
                    | Американский инженер-программист

          p 
            | Цитата бывает с фотографией или без 

          blockquote.blockquote.news-blockquote
            .h2-text.color-dark-text
              | К началу сражения работа главнокомандующего уже закончена
            site.site
              .site__inner
                .site__img
                  img(src="img/content/user-pic.jpg", alt="")
                .site__text
                  .name
                    | Том Де Марко
                  .who
                    | Американский инженер-программист

          p
            | Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления 
            a(href="#") Ссылка
            |. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. 
            a(href="#") Ссылка выглядит вот так.

      //- AFTER CONTENT BLOCK
      .news-bottom
        .news-container
          .h2-text.color-dark-text
            | Читайте также
          ul.list-red
            li
              a(href="#")
                | Покупка терминалов для мобильного и торгового эквайринга
            li
              a(href="#")
                | Как оплатить штраф без расчетного счета. Пошаговая инструкция
            li
              a(href="#")
                | Как сдать декларацию по специальной оценке условий труда
        
          
      
    //- sub
    include partials/_subscription



    //- most related
    .box
      .container
        .box__title.h2-text.color-dark-text
          | Читайте также
        .row.card-holder
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-1.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-2.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-3.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
    //- footer
    include partials/_footer

               
